body.easyui-layout *{
    font-family: 'Microsoft YaHei'; font-size: 14px;
}
.textinput {
	width: 120px;
	height: 24px;
	line-height: 24px;

    color: #336699;
    border: 1px solid #a2b3bd;
    background: url(images/textinput_bg.jpg) repeat-x scroll left top #ffffff;
}
a {
    outline: none!important;
    text-decoration: none!important;
}

/*菜单 搜索*/
#menu_search_panel {
    padding: 10px 0;
    background: #F1F8FF;
}
#menu_search {
    margin-left: 25px;
    font-family:simsun;
}

/*内容*/
.menu-iframe, .dialog-iframe {
	width: 100%; height: 100%;
	border: none;
	margin: 0; 
	margin-top: -3px\9;
}

#footer {
    height: 27px; line-height: 27px;
    overflow: hidden;
    text-align: center;
    
    border: none;
    color: #fff;
    background: #3B88CE;
}
