body > .layout-panel-west > .panel-header {
	padding: 0;
	border-color: #ccc;
}
body > .layout-panel-west > .panel-header .panel-title {
	height: 40px; line-height: 40px;
	padding-left: 35px;
	font-size: 16px;
	color: #2B77B3;
	background: #f2f2f2;
}
body > .layout-panel-west > .panel-header .panel-tool {
	top: 0; right: 0;
	height: 40px;
	margin: 0;
}
body > .layout-panel-west > .panel-header > .panel-icon{
	left: 5px;
	width: 28px;
	height: 28px;
	margin-top: -14px;
	font-size: 28px;
	color: #2B77B3;
}
body > .layout-panel-west .panel-icon {
	width: 20px;
	height: 20px;
	font-size: 20px;
	margin-top: -10px;
	color: #2878B3;
	font-family: FontAwesome;
	left: 10px;
}
body > .layout-panel-west > .panel-header .layout-button-left {
	width: 44px; height: 40px;
	opacity: 1;
  	filter: alpha(opacity=100);
	background: url(images/menu-collapse.png) no-repeat;
}
body > .layout-panel-west > .panel-header .layout-button-left:hover {
	border-radius: 0;
}
/*菜单*/
#side {
    width: 190px;
    overflow: hidden;
    border: none;
}

/*菜单 > 主体*/
#side {
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-width: 0 1px 1px 1px;
}
#menu {
	border: none;
    background: #fff;
}
#menu .panel-icon {
	
}
#menu .panel-body {
    background: #fff;
    border-bottom: 1px solid #ccc;
}
#menu .tree-title, #menu .tree-title a {
    color: #555555;
}
#menu .tree-node {
	height: 38px; line-height: 38px;
	border-bottom: 1px solid #ccc;
}
#menu .tree-hit {
	margin: 10px 0 0 10px;
}
/*菜单 > 缩进图标*/
#menu .tree-indent {
	width: 20px;
}
/*菜单 > 节点元素图标*/
#menu .tree-folder {
    display: none;
}
/*菜单 > 叶子元素图标*/
#menu .tree-file {
    display: none;
}
/*菜单 > 标题*/
#menu .tree-title {
	height: 38px; line-height: 38px;
}

/*菜单 > 树形节点选中 > 节点元素图标*/
#menu .tree-node-selected .tree-folder {
    display: none;
}
/*菜单 > 树形节点选中 > 叶子元素图标*/
#menu .tree-node-selected .tree-file {
    display: none;
}
/*菜单 > 树形节点选中 > 标题*/
#menu .tree-node-selected .tree-title, #menu .tree-node-selected .tree-title a {
    font-weight: bold;
}

/*菜单 > 树形节点被找到 > 节点元素图标*/
#menu .tree-node-found .tree-folder {
    display: none;
}
/*菜单 > 树形节点被找到 > 叶子元素图标*/
#menu .tree-node-found .tree-file {
    display: none;
}
/*菜单 > 树形节点被找到 > 标题*/
#menu .tree-node-found .tree-title, #menu .tree-node-found .tree-title a {
    font-weight: bold;
    color: #222;
}

/*菜单 > 一级*/
#menu .accordion-header {
    padding: 0;
    border-bottom: 1px solid #ccc;
    background: #f2f2f2;
}
/*菜单 > 一级 > 图标*/
#menu .accordion-header .panel-icon{
}
/*菜单 > 一级 > 标题*/
#menu .accordion-header .panel-title{
    padding-left: 35px;
    height: 40px; line-height: 40px;
    font-size: 16px;
    font-weight: normal;
    color: #222;
}
/*菜单 > 一级 > 工具栏*/
#menu .accordion-header .panel-tool {
    display: none;
}

/*菜单 > 一级：鼠标悬停*/
#menu .accordion-header:hover {
    background-position: center -41px;
}
/*菜单 > 一级：鼠标悬停 > 图标*/
#menu .accordion-header:hover .panel-icon{
}
/*菜单 > 一级：鼠标悬停 > 标题*/
#menu .accordion-header:hover .panel-title{
}

/*菜单 > 一级：选中*/
#menu .accordion-header-selected {
}
/*菜单 > 一级：选中 > 图标*/
#menu .accordion-header-selected .panel-icon{
}
/*菜单 > 一级：选中 > 标题*/
#menu .accordion-header-selected .panel-title{
	color: #2878B3;
}

/*菜单 > 一级：选中：鼠标悬停*/
#menu .accordion-header-selected:hover {
}
/*菜单 > 一级：选中：鼠标悬停 > 标题*/
#menu .accordion-header-selected:hover .panel-title{
}

/*菜单 > 二级*/
#menu .tree > li {
}
#menu .tree > li > .tree-node {
}
#menu .tree > li > .tree-node .tree-title, #menu .tree > li > .tree-node .tree-title a {
	height: 38px; line-height: 38px;
    color: #555;
}
#menu .tree > li > .tree-node > .tree-indent {
    display: none;
}
#menu .tree > li > .tree-node > .tree-title {
	padding-left: 5px;
}
#menu .tree > li > .tree-node > .tree-file {
	width: 27px;
	display: inline-block;
	background: none;
}
#menu .tree > li > .tree-node > .tree-hit {
}
#menu .tree > li > .tree-node > .tree-expanded {
}
#menu .tree > li > .tree-node > .tree-collapsed {
    background-position: 0 50%;
}
/*菜单 > 二级：鼠标悬停*/
#menu .tree > li > .tree-node:hover {
}
/*菜单 > 二级：选中*/
#menu .tree > li > .tree-node-selected {
}
#menu .tree > li > .tree-node-selected .tree-title a{
	color: #222;
}

/*菜单 > 二级：第一个子元素*/
#menu .tree > li:first-child > .tree-node {
}

/*菜单 > 三级及以下*/
#menu .tree > li ul .tree-node{
}
#menu .tree > li ul .tree-node .tree-hit {
	margin-top: 10px;
}
/*菜单 > 三级及以下：选中*/
#menu .tree > li ul .tree-node-selected {
}
/*菜单 > 三级及以下：鼠标悬停*/
#menu .tree > li ul .tree-node:hover {
}

/*混合菜单*/
.menu-mix {
    position: absolute;
	top: 9px; right: 110px;
}
/*混合菜单 > 单个菜单*/
.menu-mix .easyui-linkbutton {
    width: 70px; height: 60px;
	outline: none;
	
	background: #fff;
	border-color: #6AD8FA;
	color: #0178BA;
}
/*混合菜单 > 单个菜单*/
.menu-mix .easyui-linkbutton:hover {
    color: #fff;
	background: #00A8EC;
}
/*混合菜单 > 单个菜单*/
.menu-mix .easyui-linkbutton.l-btn-selected {
    color: #fff;
	background: #00A8EC;
}

/*顶部菜单*/
.menu-top {
	width: 100%;
	overflow: visible;
}
.menu-top .tabs-header {
	overflow: visible;
	padding: 0;
	z-index: 3;
	border: none;
	background: transparent;
}
.menu-top .tabs-header .tabs-wrap {
	overflow: visible;
}
.menu-top .tabs {
	width: 100%;
}
.menu-top .tabs > li{
	float: right;
}
.menu-top .tabs > li.tabs-first {
	margin-right: 40px;
}
.menu-top .tabs > li .tabs-title {
  	position: absolute;
  	left: 0;
  	top: 17px;
  	right: 0;
  	bottom: -5px;
	padding: 0;
}
.menu-top .tabs > li .tabs-icon {
	top: 7px;
  	left: 26px;
	width: 32px;
  	height: 32px;
  	margin: 0;
  	color: #fff;
}
/*顶部菜单 一级菜单*/
.menu-top .tabs > li {
	margin: 0;
	
	border: none;
}
.menu-top .tabs > li .tabs-inner{
	width: 84px; height: 70px;
	padding: 0;
	
	color: #fff;
  	text-shadow: 1px 1px 1px #000;
	
	border: none;
	background: url(images/menu-level-1.png) no-repeat -168px 0;
	filter: none;
}
.menu-top .tabs > li .tabs-inner:hover{
	color: #3B88CE;
	text-shadow: 1px 1px 1px #fff;
	
	border: none;
	background: url(images/menu-level-1.png) no-repeat -84px 0;
}
.menu-top .tabs > li.tabs-selected .tabs-inner{
	color: #3B88CE;
	text-shadow: none;
	border: none;
	background: url(images/menu-level-1.png) no-repeat 0 0;
	filter: none;
}  
.menu-top .tabs > li.tabs-selected .tabs-inner .tabs-title {
	background: url(images/menu-level-1-toggle.png) no-repeat bottom;
}
/*顶部菜单 二级菜单*/
.menu-top .tabs-panels {
	position: absolute;
	width: 100%;
	overflow: visible;
	border: none;
}
.menu-top .tabs-panels > .panel > .panel-body {
	overflow: visible;
	height: 59px;
	background: url(images/menu-level-2-bg.png) repeat-x;
}
.menu-top .tree > li {
	position: relative;
	float: left;
	
	background: url(images/menu-level-2.png) no-repeat right -17px;
}
.menu-top .tree > li > .tree-node {
	width: 160px;
	height: 59px; line-height: 59px;
}
.menu-top .tree > li:hover > .tree-node, .menu-top .tree > li > .tree-node-hover, .menu-top .tree > li > .tree-node-selected {
	background: url(images/menu-level-2-hover.png) no-repeat -2px 4px;
}
.menu-top .tree > li.leaf > .tree-node:hover, .menu-top .tree > li.leaf > .tree-node-hover,.menu-top .tree > li.leaf > .tree-node-selected {
	background-position: -2px -53px;
}
.menu-top .tree > li > .tree-node .tree-hit {
	position: absolute;
	top: 20px; left: 10px;
	display: none;
}
.menu-top .tree > li > .tree-node .tree-indent{
	display: none;
}
.menu-top .tree > li > .tree-node .tree-icon{
	display: none;
}
.menu-top .tree > li > .tree-node .tree-title, .menu-top .tree > li > .tree-node .tree-title a{
	padding: 0; display: block;
	height: 59px; line-height: 59px;
	text-align: center;
	color: #3B88CE;
}
/*顶部菜单 三级菜单*/
.menu-top .tree > li > ul > li {
	position: relative;
}
.menu-top .tree > li > ul > li > .tree-node{
	height: 49px; line-height: 49px;
	background: url(images/menu-level-3.png) no-repeat 2px -49px;
}
.menu-top .tree > li > ul > li > .tree-node-hover {
	background-position: 2px 0;
}
.menu-top .tree > li > ul > li > .tree-node .tree-indent{
	display: none;
}
.menu-top .tree > li > ul > li > .tree-node .tree-hit{
	position: absolute;
	top: 15px; left: 10px;
}
.menu-top .tree > li > ul > li > .tree-node .tree-icon{
	display: none;
}
.menu-top .tree > li > ul > li > .tree-node .tree-title, .menu-top .tree > li > ul > li > .tree-node .tree-title a{
	padding: 0; display: block;
	height: 49px; line-height: 49px;
	text-align: center;
	color: #fff;
}
/*顶部菜单 4级及以下菜单*/
.menu-top .tree > li > ul > li ul {
	position: absolute;
	left: -151px;
	bottom: 1px;
}
.menu-top .tree > li > ul > li ul .tree-node {
	height: 30px; line-height: 30px;
	width: 154px;
	background: url(images/menu-level-3.png) no-repeat 0 -49px;
}
.menu-top .tree > li > ul > li ul .tree-node-hover {
	background: url(images/menu-level-3.png) no-repeat 0 0;
}
.menu-top .tree > li > ul > li ul .tree-node .tree-title {
	padding: 0;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
.menu-top .tree > li > ul > li ul .tree-node .tree-title a {
	color: #fff;
}
.menu-top .tree > li > ul > li ul .tree-node .tree-indent, .tree-icon, .tree-file {
	display: none;
}

















